<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
    form input{
        margin-bottom: 10px;
    }
</style>
<body>
    <h2>Register Page</h2>
    <form action="/register.do" >
      
       ID : <input type="text" name="id" required><br>
       PASSWORD : <input type="password" name="password" required><br>
       NAME : <input type="text" name="name" required><br>
       ADDRESS : <input type="text" name="address" required><br>
       <input type="submit" value="register">

    
</body>
</html>