<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>03_HttpHeader</display-name>
  <welcome-file-list>
    <welcome-file>header.html</welcome-file>
    <welcome-file>header.jsp</welcome-file>
    <welcome-file>header.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PrinterHeaderServlet</display-name>
    <servlet-name>PrinterHeaderServlet</servlet-name>
    <servlet-class>servlet.header.PrinterHeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrinterHeaderServlet</servlet-name>
    <url-pattern>/phs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrinterHeaderServlet2</display-name>
    <servlet-name>PrinterHeaderServlet2</servlet-name>
    <servlet-class>servlet.header.PrinterHeaderServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrinterHeaderServlet2</servlet-name>
    <url-pattern>/phs2</url-pattern>
  </servlet-mapping>
</web-app>