<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!-- 
   resultMap에서 TB_STUDENT 와 TB_DEPARTMENT 연결
   id, result :  앞에서 배운 건 여기까지 였다면
   <association property ="department"  resultMap="departmentMap"/> 사용
   
   
   showStudent 
 -->
<mapper namespace= "studentMapper">

 <resultMap type="Student" id="studentMap">
   <id property="studentNo" column="student_no"/>
   <result property="studentName" column="student_name" />
   <result property="studentAddress" column="student_address" />
   <association property ="department"  resultMap="departmentMap"/> 
 </resultMap>
 
 <resultMap type="Department" id="departmentMap">
    <id property="departmentNo" column= "department_no"/>
    <result property="departmentName" column="department_name" />
    <result property="category" column="category" />
 </resultMap>

<!-- #{word} :조건 - word가 null인지 아닌지
    WHERE ~ 랑 word가 포함되어 잇는지 이 중 하나만 걸려도 되니까 OR 로 처리 
 -->

<select id= "showStudent" parameterType="String" resultMap="studentMap">

SELECT student_no,student_name,student_address,department_name,category
FROM STUDENT S
JOIN DEPARTMENT D ON(S.DEPARTMENT_NO = D.DEPARTMENT_NO)
<trim  prefix="WHERE" prefixOverrides="AND|OR"> 
 <if test = "word!=null">
     student_no LIKE '%'||#{word}||'%'
 </if> 
 <if test = "word!=null">
     OR student_name LIKE '%'||#{word}||'%'
  </if> 
  <if test = "word!=null">
     OR student_address LIKE '%'||#{word}||'%'
  </if>
  <if test = "word!=null">
     OR department_name LIKE '%'||#{word}||'%'
  </if>
   <if test = "word!=null">
     OR category LIKE '%'||#{word}||'%'
  </if>
</trim>
</select>
  
  



</mapper>
 